@model CreateResponsibleViewModel

@{
    ViewBag.Title = "Update Request";
}

<form asp-action="UpdateResponsible" method="post" enctype="multipart/form-data">

    <section class="content">
        <div class="container-fluid">
            <!-- Input Group -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Update Request
                            </h2>
                        </div>
                        <div class="body">
                            <input type="hidden" asp-for="CategoryHeaderId" />
                            <input type="hidden" asp-for="CreatedDateTime" />
                            <input type="hidden" asp-for="UpdatedById" />
                            <input type="hidden" asp-for="UpdatedDateTime" />
                            <input type="hidden" asp-for="DetailsId" />

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.authorityMatrixName>Authority Matrix </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.authorityMatrixName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.mainCategoryName>Main Category </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.mainCategoryName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.activityName>Activity </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.activityName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.detailsName>Details </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.detailsName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr />


                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AttachmentFile.FileName> File Name</label>
                                        <div class="form-line">
                                            <input asp-for=AttachmentFile.FileName class="form-control">
                                        </div>
                                        <span asp-validation-for="AttachmentFile.FileName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AttachmentFile.File>File </label>
                                        <div class="form-line">
                                            <input asp-for=AttachmentFile.File class="form-control">
                                        </div>
                                        <span asp-validation-for="AttachmentFile.File" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=ResponsibleComments>Responsible Remarks </label>
                                        <div class="form-line">
                                            <textarea asp-for=ResponsibleComments class="form-control input-lg"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr />
                            <div class="row clearfix">
                                <div class="button-demo">
                                    <button class="btn bg-primary waves-effect" type="submit" title="Save">
                                        Save
                                    </button>

                                    <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn bg-warning waves-effect" type="button" title="Back">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table for request-->
                    <div class="card">
                        <div class="header">
                            <h2>
                                User Authority List
                            </h2>

                        </div>

                        <div class="body">

                            <div class="table-responsive">
                                @if (Model.TrsData.Any())
                                {
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>

                                                <th>No</th>
                                                <th>
                                                    Created By
                                                </th>
                                                <th>Created Date Time</th>
                                                <th>Responsible Comments</th>
                                                <th>Attachment</th>
                                                <th>Approval</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>

                                                <th>No</th>
                                                <th>
                                                    Created By
                                                </th>
                                                <th>Created Date Time</th>
                                                <th>Responsible Comments</th>
                                                <th>Attachment</th>
                                                <th>Approval</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @{
                                                int No = 0;
                                            }
                                            @for (int i = 0; i < Model.TrsData.Count(); i++)
                                            {
                                                <input type="hidden" asp-for=@Model.TrsData[i].TrsDetails.TrsDetailsId />
                                                <input type="hidden" asp-for=@Model.TrsData[i].TrsDetails.CategoryHeaderId />
                                                No = No + 1;
                                                <tr>
                                                    <td> @No </td>
                                                    <td>
                                                        @Model.TrsData[i].TrsDetails.CreatedBy.FirstName @Model.TrsData[i].TrsDetails.CreatedBy.LastName
                                                    </td>
                                                    <td>
                                                        @Model.TrsData[i].TrsDetails.CreatedDateTime
                                                    </td>
                                                    <td>
                                                        @Model.TrsData[i].TrsDetails.ResponsibleComments
                                                    </td>
                                                    <td>
                                                        @if (Model.TrsData[i].FileAttachment.Any())
                                                        {
                                                            <table class="table table-striped table-bordered media-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Attachment Link</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var att in Model.TrsData[i].FileAttachment)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <a href="~/RequestAttachments/@att.AttachmentPath" target="_blank">Link</a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.TrsData[i].Approvals.Any())
                                                        {
                                                            <table class="table table-striped table-bordered media-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>User</th>
                                                                        <th>Job Title</th>
                                                                        <th>Status</th>
                                                                        <th>Rejection Reason</th>
                                                                        <td>Back Forward Remarks</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @for (int a = 0; a < Model.TrsData[i].Approvals.Count(); a++)
                                                                    {
                                                                        <input type="hidden" asp-for=@Model.TrsData[i].Approvals[a].ApprovalId />
                                                                        <input type="hidden" asp-for=@Model.TrsData[i].Approvals[a].TrsDetailsId />
                                                                        <tr>
                                                                            <td>@Model.TrsData[i].Approvals[a].ApplicationUser.FirstName @Model.TrsData[i].Approvals[a].ApplicationUser.LastName</td>
                                                                            <td>@Model.TrsData[i].Approvals[a].ApplicationUser.UserJobTitle[0].JobTitle.JobTitleName</td>
                                                                            <td>@Model.TrsData[i].Approvals[a].ApprovalStatus.Status</td>
                                                                            <td>@Model.TrsData[i].Approvals[a].RejectionReason</td>
                                                                            @if (@Model.TrsData[i].Approvals[a].ApprovalStatus.Status == "BackForward")
                                                                            {
                                                                                <td>
                                                                                    @Model.TrsData[i].Approvals[a].ConsultedComments
                                                                                </td>
                                                                            }

                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p><h4 style="text-align:center">Sorry, No Approval Requests Added</h4></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input Group -->


    </section>
</form>

<!-- App scripts -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>