@model IEnumerable<PC.Services.Core.Models.Levels>
@{
    ViewBag.Title = @ViewBag.authorityMatrix;
}


<section class="content">
    <div id="PlaceHolderHereUser"></div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            User Authority List - @ViewBag.authorityMatrix
                        </h2>

                    </div>

                    <div class="body">

                        <div class="table-responsive">
                            @if (Model.Any())
                            {
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>

                                            <th>No</th>
                                            <th>
                                                Main Category
                                            </th>
                                            <th>Activity</th>
                                            <th>Details</th>
                                            <th>Role</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>

                                            <th>No</th>
                                            <th>
                                                Main Category
                                            </th>
                                            <th>Activity</th>
                                            <th>Details</th>
                                            <th>Role</th>
                                            <th>Action</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            int No = 0;
                                        }
                                        @foreach (var detail in Model)
                                        {
                                            No = No + 1;
                                            <tr>
                                                <td> @No </td>
                                                <td>
                                                    @detail.CategoryHeader.MainCategory.Name
                                                </td>
                                                <td>
                                                    @detail.CategoryHeader.Activity.Name
                                                </td>
                                                <td>
                                                    @detail.CategoryHeader.Details.Name
                                                </td>
                                                <td>
                                                    @if (detail.LevelRoleId == "R")
                                                    {
                                                        <text>Responsible</text>
                                                    }
                                                    @if (detail.LevelRoleId == "A")
                                                    {
                                                        <text>Accountable</text>
                                                    }
                                                    @if (detail.LevelRoleId == "C")
                                                    {
                                                        <text>Consulted</text>
                                                    }
                                                    @if (detail.LevelRoleId == "I")
                                                    {
                                                        <text>Informed</text>
                                                    }
                                                </td>
                                                <td>
                                                    @if (detail.LevelRoleId == "R")
                                                    {
                                                        <a asp-action="CreateResponsible"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               class="btn btn-info btn-block"
                                               style="cursor:pointer">
                                                            Add New Request
                                                        </a>

                                                        <a asp-action="ShowRequests"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               class="btn btn-warning btn-block"
                                               style="cursor:pointer">
                                                            Show User Requests
                                                        </a>

                                                        <a asp-action="ShowRequestInformed"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               class="btn btn-primary btn-block"
                                               style="cursor:pointer">
                                                            Show All Requests
                                                        </a>
                                                    }

                                                    @if (detail.LevelRoleId == "C")
                                                    {
                                                        <a asp-action="ShowConsulted"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               class="btn btn-info btn-block"
                                               style="cursor:pointer">
                                                            Consulted Requests
                                                        </a>

                                                        <a asp-action="ShowRequestInformed"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               asp-route-showInformed="I"
                                               class="btn btn-primary btn-block"
                                               style="cursor:pointer">
                                                            Show Requests
                                                        </a>
                                                    }

                                                    @if (detail.LevelRoleId == "A")
                                                    {
                                                        <a asp-controller="ApprovalUser" asp-action="ShowApprovalUser"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               class="btn btn-info btn-block"
                                               style="cursor:pointer">
                                                            Approvals
                                                        </a>

                                                        <a asp-action="ShowRequestInformed"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               asp-route-showInformed="I"
                                               class="btn btn-primary btn-block"
                                               style="cursor:pointer">
                                                            Show Requests
                                                        </a>
                                                    }

                                                    @if (detail.LevelRoleId == "I")
                                                    {
                                                        <a asp-action="ShowRequestInformed"
                                               asp-route-catId="@detail.CategoryHeader.CategoryHeaderId"
                                               asp-route-levelRoleName="@detail.LevelRoleId"
                                               asp-route-userId="@detail.ApplicationUserId"
                                               asp-route-showInformed="I"
                                               class="btn btn-primary btn-block"
                                               style="cursor:pointer">
                                                            Show Requests
                                                        </a>
                                                    }
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p><h4 style="text-align:center">No Data to Display</h4></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>