@model PC.Services.DL.ViewModels.CategoryHeaderViewModel

@{
    ViewBag.Title = "Add Level User";
}
<form action="" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                @* <h2>TABS</h2>*@
            </div>
            <!-- Example Tab -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Add Level User
                                @*<small>@Model.UserName</small>*@
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                                <li role="presentation" class="active"><a href="#home" data-toggle="tab">Authority Matrix</a></li>
                                <li role="presentation"><a href="#profile" data-toggle="tab">Add User</a></li>
                                <li role="presentation"><a href="#messages" data-toggle="tab">Authority Matrix Users</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!-- Authority Matrix -->
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <input type="hidden" asp-for="CategoryHeaderId" />
                                    <input type="hidden" asp-for="CreatedDateTime" />
                                    <input type="hidden" asp-for="UpdatedById" />
                                    <input type="hidden" asp-for="UpdatedDateTime" />
                                    <input type="hidden" asp-for="DetailsId" />
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <div class="input-group input-group-lg">
                                                    <label asp-for=AuthorityDataNames.authorityMatrixName>Authority Matrix </label>
                                                    <div class="form-line">
                                                        <input type="text" asp-for=AuthorityDataNames.authorityMatrixName class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="input-group input-group-lg">
                                                    <label asp-for=LevelCount>Workflow Levels </label>
                                                    <div class="form-line">
                                                        <input type="number" asp-for=LevelCount class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-4">
                                                <div class="input-group input-group-lg">
                                                    <label asp-for=AuthorityDataNames.mainCategoryName>Main Category </label>
                                                    <div class="form-line">
                                                        <input type="text" asp-for=AuthorityDataNames.mainCategoryName class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="input-group input-group-lg">
                                                    <label asp-for=AuthorityDataNames.activityName>Activity </label>
                                                    <div class="form-line">
                                                        <input type="text" asp-for=AuthorityDataNames.activityName class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="input-group input-group-lg">
                                                    <label asp-for=AuthorityDataNames.detailsName>Details </label>
                                                    <div class="form-line">
                                                        <input type="text" asp-for=AuthorityDataNames.detailsName class="form-control" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <hr />

                                        <div class="row clearfix">
                                            <div class="col-md-4">
                                                <div class="button-demo">
                                                    <button class="btn bg-primary waves-effect" type="submit" title="Save" asp-controller="CategoryHeader" asp-action="UpdateWorkflowLevel">
                                                        Save
                                                    </button>
                                                    <a asp-controller="CategoryHeader" asp-action="Index" class="btn bg-warning waves-effect" type="button" title="Back">
                                                        <span><i class="fa fa-arrow-left"></i>Back</span>
                                                    </a>
                                                </div>
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- End of Authority Matrix -->
                                <!-- Add User -->
                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                    <div id="PlaceHolderHere"></div>
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <div class="input-group input-group-lg">
                                                <label asp-for="LevelUser">User</label>
                                                <div class="form-line">
                                                    <select asp-for="LevelUser" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.userList" required="required">

                                                        <option value="0">Select User</option>
                                                    </select>
                                                    <span asp-validation-for="LevelUser" class="text-danger"></span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-4">
                                            <div class="input-group input-group-lg">
                                                <label asp-for="LevelRole">User Role Under This Level</label>
                                                <div class="form-line">
                                                    <select asp-for="LevelRole" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.roleList" required="required">

                                                        <option value="0">Select User Role</option>
                                                    </select>
                                                    <span asp-validation-for="LevelRole" class="text-danger"></span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row clearfix">

                                        <div class="col-md-4">
                                            <div class="button-demo">

                                                <button class="btn bg-primary waves-effect" type="submit" title="Save" asp-controller="CategoryHeader" asp-action="AddLevel">
                                                    Save
                                                </button>

                                                <a asp-controller="CategoryHeader" asp-action="Index" class="btn bg-warning waves-effect" type="button" title="Back">
                                                    <span><i class="fa fa-arrow-left"></i>Back</span>
                                                </a>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- End of Add User -->
                                <!-- Authority Matrix Users -->
                                <div id="PlaceHolderLevelRole"></div>
                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                    @if (Model.UserLevels.Any())
                                    {
                                        <table width="100%" class="table table-bordered table-striped table-hover dataTable js-exportable">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th hidden>
                                                        Category Header Id
                                                    </th>
                                                    <th>
                                                        Username
                                                    </th>
                                                    <td>Role</td>
                                                    @*<th>
                                                        Created By
                                                        </th>
                                                        <th>
                                                        Created Date
                                                        </th>
                                                        <th>Updated By</th>
                                                        <th>Updated Date</th>*@
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>No</th>
                                                    <th hidden>
                                                        Id
                                                    </th>
                                                    <th hidden>
                                                        Category Header Id
                                                    </th>
                                                    <th>
                                                        Username
                                                    </th>
                                                    <td>Role</td>
                                                    @*<th>
                                                        Created By
                                                        </th>
                                                        <th>
                                                        Created Date
                                                        </th>
                                                        <th>Updated By</th>
                                                        <th>Updated Date</th>*@
                                                    <th></th>

                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                @{
                                                    int No = 0;
                                                }
                                                @foreach (var level in Model.UserLevels)
                                                {
                                                    No = No + 1;
                                                    <tr>
                                                        <td> @No </td>
                                                        <td hidden>@level.Level.LevelsId</td>
                                                        <td hidden>@level.Level.CategoryHeaderId</td>
                                                        <td>
                                                            @if (level.Level.ApplicationUser != null)
                                                            {
                                                                @level.Level.ApplicationUser.FirstName @level.Level.ApplicationUser.LastName
                                                            }

                                                        </td>
                                                        <td>
                                                            @if (level.roleName != null)
                                                            {
                                                                @level.roleName
                                                            }
                                                        </td>

                                                        @*<td>
                                                            @level.CreatedBy
                                                            </td>
                                                            <td>
                                                            @level.CreatedDateTime
                                                            </td>
                                                            <td>
                                                            @level.UpdatedBy
                                                            </td>

                                                            <td>
                                                            @level.UpdatedDateTime
                                                            </td>*@


                                                        <td>
                                                            <form method="post" controller="CategoryHeader" action="ManageUserLevelRole">
                                                                <button type="button" class="btn btn-info btn-block text-white" style="cursor:pointer" data-toggle="ajax-modal" data-target="#addUserLevelRole"
                                                                data-url="@Url.Action($"ManageUserLevelRole/{level.Level.LevelsId}")">
                                                                    @*<span>Edit Role</span>*@
                                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                                </button>

                                                            </form>

                                                            <form method="post" asp-controller="CategoryHeader" asp-action="DeleteLevel" asp-route-id="@level.Level.ApplicationUser.Id" asp-route-Catid="@Model.CategoryHeaderId">
                                                                <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Are you sure you want to delet? : @level.Level.ApplicationUser.FirstName @level.Level.ApplicationUser.LastName')">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <p><h4 style="text-align:center">No Users to Display</h4></p>
                                    }
                                    <hr />
                                </div>
                                <!-- End of Authority Matrix Users -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Example Tab -->
        </div>
    </section>
</form>
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>


@*<script>
    $(document).ready(function () {

    $('#LevelUser').select2({});
    });


    </script>*@