@model IEnumerable<PC.Services.DL.ViewModels.Category>
@{
    ViewBag.Title = "Category Header List";
}

<section class="content">
    <div id="PlaceHolderHereUser"></div>
    <div class="container-fluid">
        <div class="block-header">

            <a asp-action="Create" asp-controller="CategoryHeader" class="btn bg-primary btn-lg btn-block runbtn" style="width: 250px" type="button">
                <i class="glyphicon glyphicon-work"></i>
                Add Category Header Link
            </a>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Category Header List
                        </h2>

                    </div>

                    <div class="body">

                        <div class="table-responsive">
                            @if (Model.Any())
                            {
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>
                                                Authority Matrix
                                            </th>
                                            <th>
                                                Main Category
                                            </th>
                                            <th>Activity</th>
                                            <th>Details</th>
                                            <th>Levels Number</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>
                                                Authority Matrix
                                            </th>
                                            <th>
                                                Main Category
                                            </th>
                                            <th>Activity</th>
                                            <th>Details</th>
                                            <th>Levels Number</th>
                                            <th></th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @{
                                            int No = 0;
                                        }
                                        @foreach (var detail in Model)
                                        {
                                            No = No + 1;
                                            <tr>
                                                <td> @No </td>
                                                <td>
                                                    @if (detail.authority != null)
                                                    {

                                                        @detail.authority.AuthorityMatrix.Name

                                                    }
                                                    else
                                                    {
                                                        <text>--</text>
                                                    }
                                                </td>
                                                <td>
                                                    @detail.categoryHeaders.MainCategory.Name
                                                </td>
                                                <td>
                                                    @detail.categoryHeaders.Activity.Name
                                                </td>

                                                <td>
                                                    @detail.categoryHeaders.Details.Name
                                                </td>
                                                <td>@detail.categoryHeaders.LevelCount</td>


                                                <td>
                                                    <form method="post" asp-controller="Details" asp-action="Delete" asp-route-id="@detail.categoryHeaders.CategoryHeaderId">

                                                        <a asp-action="AddLevel"
                                                   asp-route-id="@detail.categoryHeaders.CategoryHeaderId" class="btn btn-info text-white" style="cursor:pointer">
                                                            <span class="glyphicon glyphicon-pencil">AddLevel</span>
                                                        </a>
                                                        @*<hr>
                                                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delet? : @detail.Name')">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                            </button>*@
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p><h4 style="text-align:center">No Data to Display</h4></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>
