<!-- Bootstrap Core Js -->
<script src="~/styles/ww/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="~/styles/ww/plugins/jquery-countto/jquery.countTo.js"></script>

<!-- Morris Plugin Js -->
<script src="~/styles/ww/plugins/raphael/raphael.min.js"></script>
<script src="~/styles/ww/plugins/morrisjs/morris.js"></script>

<!-- Jquery Core Js -->
@*<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>*@

@*<script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>*@

<!-- Select Plugin Js -->
<script src="~/styles/ww/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="~/styles/ww/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="~/styles/ww/plugins/node-waves/waves.js"></script>

<!-- Autosize Plugin Js -->
<script src="~/styles/ww/plugins/autosize/autosize.js"></script>

<!-- Moment Plugin Js -->
<script src="~/styles/ww/plugins/momentjs/moment.js"></script>

<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="~/styles/ww/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

@*<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>*@
<!-- Validation Plugin Js -->
<script src="~/styles/ww/plugins/jquery-validation/jquery.validate.js"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="~/styles/ww/plugins/jquery-countto/jquery.countTo.js"></script>


<script src="~/js/site.js" asp-append-version="true"></script>

<!-- ChartJs -->
<script src="~/styles/ww/plugins/chartjs/Chart.bundle.js"></script>

<script src="~/vendor/select2-3.5.2/select2.min.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="~/styles/ww/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="~/styles/ww/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

<!-- Dropzone Plugin Js -->
<script src="~/styles/ww/plugins/dropzone/dropzone.js"></script>

<!-- Input Mask Plugin Js -->
<script src="~/styles/ww/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="~/styles/ww/plugins/jquery-sparkline/jquery.sparkline.js"></script>

<!-- Custom Js -->
<script src="~/styles/ww/js/admin.js"></script>
<script src="~/styles/ww/js/pages/index.js"></script>

<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>
<script src="~/styles/ww/js/pages/forms/basic-form-elements.js"></script>

<!-- Demo Js -->
<script src="~/styles/ww/js/demo.js"></script>

<script src="~/vendor/sweetalert/lib/sweetalert2.min.js"></script>

<script src="~/styles/ww/js/pages/examples/sign-in.js"></script>

<script src="~/NToast/NToast.js"></script>

<!-- Flot Charts Plugin Js -->
<script src="~/styles/ww/plugins/flot-charts/jquery.flot.js"></script>
<script src="~/styles/ww/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="~/styles/ww/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="~/styles/ww/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="~/styles/ww/plugins/flot-charts/jquery.flot.time.js"></script>



   @* <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/vendor/sweetalert/lib/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/NToast/NToast.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/DataTable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/DataTable/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/DataTable/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/DataTable/jszip.min.js"></script>
    <script type="text/javascript" src="~/DataTable/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/DataTable/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/DataTable/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/DataTable/buttons.print.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>

    <!-- App scripts -->
    <script src="~/scripts/homer.js"></script>

    <script type="~/text/javascript"></Script>

*@
@*<script src="~/vendor/jquery/dist/jquery-3.4.1.min.js"></script>*@
@*<script src="~/vendor/jquery/dist/jquery-3.4.1.js"></script>*@
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>
<script>
        jQuery.noConflict()(function ($) { // this was missing for me
        $(document).ready(function() {


            //Alert popup********************************************
            AlertPopup();
            //*******************************************************

            //Fire Policy Partial Popup for user Confirmation
            var selectedValue = '@config["AppSetting:EnableConfirmPolicy"]';
            if (selectedValue == 'true') {
                ConfirmUserPolicy();
            }

            var selectedValue2 = '@config["AppSetting:EnableRightClick"]';
            if (selectedValue2 == 'true') {
                //DISABLE right click
                jQuery(this).bind("contextmenu", function (event) {
                    event.preventDefault();
                    bootbox.alert({
                        message: "Sorry, This Functionality Has Been Disabled",
                        className: 'rubberBand animated'
                    });
                });

                //disable Ctr + U + F12
                $(document).keydown(function (event) {
                    var pressedKey = String.fromCharCode(event.keyCode).toLowerCase();

                    if (event.ctrlKey && (pressedKey == "c" || pressedKey == "u" || pressedKey == "v")) {
                        //alert('Sorry, This Functionality Has Been Disabled!');
                        bootbox.alert({
                            message: "Sorry, This Functionality Has Been Disabled",
                            className: 'rubberBand animated'
                        });
                        //disable key press porcessing
                        return false;
                    }

                    if (event.keyCode == 123) {
                        bootbox.alert({
                            message: "Sorry, This Functionality Has Been Disabled",
                            className: 'rubberBand animated'
                        });

                        return false;
                    }
                });
            }




            //$('.datepicker').datepicker({ format: 'dd-mm-yyyy' });


            //var table = $('#tbl');

            //table.DataTable({
            //    sort: false,
            //    dom: 'Bfrtip',
            //    fixedColumns: false,
            //    //buttons: [
            //    //    'excel', 'print'
            //    //],
            //    buttons: [
            //        { extend: 'excel', text: 'Excel Export' },
            //        {
            //            extend: 'print', text: 'Print',
            //            customize: function (win) {
            //                win.document.body.style.direction = "ltr";
            //                $(win.document.body).find('h1').css('font-size', '15pt');
            //                $(win.document.body)
            //                    .prepend('<div style="text-align:center"><img src="http://10.1.21.38:8080/img/logo.png" style="height:175px;width:200px" /></div>');

            //            }
            //        }
            //    ],
            //    responsive: true,
            //    lengthMenu: [5, 10, 25, 50],
            //    pageLength: 10,
            //    // Order settings
            //    language: {
            //        infoEmpty: "Display 0 to zero from 0",
            //        search: "Search:",
            //        "info": "Page No _PAGE_ from _PAGES_",
            //        "lengthMenu": "عرض _MENU_ سجل",
            //        "paginate": {
            //            "first": "Start",
            //            "next": "Next",
            //            "previous": "Back",
            //            "last": "Last"
            //        }
            //    }
            //});

        });
    });

        //$(document).ready(function () {


        //});

        function AlertPopup() {
            //set value to TempData["Message"]
          @*'@TempData["Message"]'*@
            var Message = '@TempData["Message"]';
            if (Message == 1) {
                NToast(
                    "#1ea244",
                    "tl",
                    "Data has been saved succefully",
                    true,
                    "fa fa-save",
                    true,
                    100,
                )
            }
            if (Message == 2) {
                NToast(
                    "#1ea244",
                    "tl",
                    "Data has been updated succefully",
                    true,
                    "fa fa-check",
                    true,
                    100,
                )
            }
            if (Message == 3) {
                NToast(
                    "#1ea244",
                    "tl",
                    "Data has been deleted succefully",
                    true,
                    "fa fa-trash",
                    true,
                    100,
                )
            }
            if (Message == 4) {
                NToast(
                    "#e4483d",
                    "tl",
                    "Sorry, can not be deleted. Please try again or contact ProCare IT",
                    true,
                    "fa fa-info",
                    true,
                    100,
                )
            }
            if (Message == 5) {
                NToast(
                    "#e4483d",
                    "tl",
                    "Sorry, something went wrong. Please contact ProCare IT",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 6) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry, this data already exist",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 7) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry, Invalid Username or Password or Answer",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 8) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry this user is blocked due entering wrong password more than 3 times, Please call IT department",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 9) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry, User was not using the system more than 3 months please contact IT department",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 10) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry, User was not using the system more than 3 months please contact IT department",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
            if (Message == 11) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry,Number of Users Exceed Level Count",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }

            if (Message == 12) {
                NToast(
                    "#D74323",
                    "tl",
                    "Sorry, Invalid Security Answer",
                    true,
                    "fa e-fe-access-error",
                    true,
                    100,
                )
            }
        }

        function ConfirmUserPolicy() {

            if (localStorage.getItem('userConfirmPolicy') == null || localStorage.getItem('userConfirmPolicy') == '') {
                bootbox.confirm({
                    title: "@config["AppSetting:UserConfirmPolicyTitle"]",
                    message: "@config["AppSetting:UserConfirmPolicy"]",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Ok'
                        }
                    },
                    callback: function (result) {
                        console.log('This was logged in the callback: ' + result);
                        if (result != false) {
                            localStorage.setItem('userConfirmPolicy', "true");
                        }
                        else {
                            ConfirmUserPolicy();
                        }


                    }
                });
            }

        }
</script>