@model CreateResponsibleViewModel

@{
    ViewBag.Title = "Accountable Requests";
}

<form asp-action="CreateResponsible" method="post" enctype="multipart/form-data">

    <section class="content">
        <div class="container-fluid">
            <!-- Input Group -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Approver Authority Matrix Details
                            </h2>
                        </div>
                        <div class="body">
                            <input type="hidden" asp-for="CategoryHeaderId" />
                            <input type="hidden" asp-for="CreatedDateTime" />
                            <input type="hidden" asp-for="UpdatedById" />
                            <input type="hidden" asp-for="UpdatedDateTime" />
                            <input type="hidden" asp-for="DetailsId" />

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.authorityMatrixName>Authority Matrix </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.authorityMatrixName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.mainCategoryName>Main Category </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.mainCategoryName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.activityName>Activity </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.activityName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="input-group input-group-lg">
                                        <label asp-for=AuthorityDataNames.detailsName>Details </label>
                                        <div class="form-line">
                                            <input type="text" asp-for=AuthorityDataNames.detailsName class="form-control" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row clearfix">
                                <div class="button-demo">

                                    <a asp-controller="Approval" asp-action="UserDetails" asp-route-id="@Model.AuthorityId" class="btn bg-warning waves-effect" type="button" title="Back">
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table for request-->
                    <div class="card">
                        <div class="header">
                            <h2>
                                User Authority List
                            </h2>

                        </div>

                        <div class="body">

                            <div class="table-responsive">
                                @if (Model.TrsData.Any())
                                {
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tbl">
                                        <thead>
                                            <tr>

                                                <th>No</th>
                                                <th>
                                                    Request No
                                                </th>
                                                <th>Responsible</th>
                                                <th>Date & Time</th>
                                                <th>Responsible Comments</th>
                                                <th>Attachment</th>
                                                @*<th>count</th>*@
                                                <th>Approval Status</th>
                                        </thead>
                                        <tfoot>
                                            <tr>

                                                <th>No</th>
                                                <th>
                                                    Request No
                                                </th>
                                                <th>Responsible</th>
                                                <th>Date & Time</th>
                                                <th>Responsible Comments</th>
                                                <th>Attachment</th>
                                                @*<th>count</th>*@
                                                <th>Approval Status</th>
                                        </tfoot>
                                        <tbody>
                                            @{
                                                int No = 0;
                                            }
                                            @foreach (var detail in Model.TrsData)
                                            {
                                                No = No + 1;
                                                <tr>
                                                    <td> @No </td>
                                                    <td>
                                                        @detail.TrsDetails.TrsDetailsId
                                                    </td>
                                                    <td>
                                                        @detail.TrsDetails.CreatedBy.FirstName @detail.TrsDetails.CreatedBy.LastName
                                                    </td>
                                                    <td>
                                                        @detail.TrsDetails.CreatedDateTime
                                                    </td>
                                                    <td>
                                                        @detail.TrsDetails.ResponsibleComments
                                                    </td>
                                                    <td>
                                                        <table class="table table-striped table-bordered media-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Attachment Link</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var att in detail.FileAttachment)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a href="~/RequestAttachments/@att.AttachmentPath" target="_blank">Link</a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        @if (detail.Approvals.Any())
                                                        {
                                                            <table class="table table-striped table-bordered media-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>User</th>
                                                                        <th>Job Title</th>
                                                                        <th>Status</th>
                                                                        <th>Approval</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @foreach (var app in detail.Approvals)
                                                                    {
                                                                        <tr>
                                                                            <td>@app.ApplicationUser.FirstName @app.ApplicationUser.LastName</td>
                                                                            <td>@app.ApplicationUser.UserJobTitle[0].JobTitle.JobTitleName</td>
                                                                            <td>@app.ApprovalStatus.Status</td>
                                                                            <td>
                                                                                <a href="#" class="btn btn-success text-white js-confirm"
                                                                   catId="@detail.TrsDetails.CategoryHeaderId"
                                                                   detailsId="@detail.TrsDetails.TrsDetailsId"
                                                                   approvalId="@app.ApprovalId"
                                                                   style="cursor:pointer">
                                                                                    Approve
                                                                                </a>
                                                                                <hr />
                                                                                <a href="#" class="btn btn-warning text-white js-confirmBack"
                                                                   catId="@detail.TrsDetails.CategoryHeaderId"
                                                                   detailsId="@detail.TrsDetails.TrsDetailsId"
                                                                   approvalId="@app.ApprovalId"
                                                                   style="cursor:pointer">
                                                                                    Reject
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        }


                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p><h4 style="text-align:center">Sorry, No Approval Requests Added</h4></p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input Group -->


    </section>
</form>

<!-- App scripts -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>
<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>


<script>
    $("#tbl").on("click", ".js-confirm",
    function () {
           var button = $(this);
            swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            //html:'<textarea id="swal-input1" class="form-control input-lg"></textarea>',
            //input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Yes, Approve',
            type: 'warning'
            },
            function(resolve) {
                if(resolve)
                {
                    $.ajax({
                url: "/ApprovalUser/ApproveApprovalUser?approvalId="  + button.attr("approvalId"),
                method: "GET",
                success: function (data) {
                    //alert(data);
                    alert("Data has been saved successfully");
                    location.reload();
                }
                });
                }
                return;
            });
            });

            $("#tbl").on("click",
                         ".js-confirmBack",
                         function () {
                             var button = $(this);
            swal({
            title: 'Are you sure?',
            html:'<label>Rejection Reason</label><textarea id="txtcomment" class="form-control input-lg"></textarea>',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: 'Yes, Reject',
            type: 'warning'
            },
            function(resolve) {
                if(resolve)
                {
                    txt = $('#txtcomment').val();

                    $.ajax({
                url: "/ApprovalUser/RejectApprovalUser?approvalId="  + button.attr("approvalId") + "&comment=" + txt,
                method: "GET",
                success: function (data) {
                    //alert(data);
                    alert("Data has been saved successfully");
                    location.reload();
                }
                });
                }
        return;
            });
            });

</script>
