@model IEnumerable<PC.Services.Core.Models.JobTitle>
@{
    ViewBag.Title = "Job Title List";
}

<section class="content">
    <div id="PlaceHolderHereUser"></div>
    <div class="container-fluid">
        <div class="block-header">

            <a asp-action="Create" asp-controller="JobTitle" class="btn bg-primary btn-lg btn-block runbtn" style="width: 200px" type="button">
                <i class="glyphicon glyphicon-work"></i>
                Add New Job Title
            </a>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Job Title List
                        </h2>

                    </div>

                    <div class="body">

                        <div class="table-responsive">
                            @if (Model.Any())
                            {
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Job Title Name
                                            </th>
                                            <th>
                                                Created By
                                            </th>
                                            <th>
                                                Created Date
                                            </th>
                                            <th>Updated By</th>
                                            <th>Updated Date</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Job Title Name
                                            </th>
                                            <th>
                                                Created By
                                            </th>
                                            <th>
                                                Created Date
                                            </th>
                                            <th>Updated By</th>
                                            <th>Updated Date</th>
                                            <th></th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var job in Model)
                                        {
                                            <tr>
                                                <td>@job.JobTitleId</td>
                                                <td>
                                                    @job.JobTitleName
                                                </td>
                                                <td>
                                                    @job.CreatedBy
                                                </td>
                                                <td>
                                                    @job.CreatedDateTime
                                                </td>
                                                <td>
                                                    @if (job.UpdatedBy != null)
                                                    {
                                                        @job.UpdatedBy
                                                    }

                                                </td>
                                                <td>
                                                    @if (job.UpdatedDateTime != null)
                                                    {
                                                        @job.UpdatedDateTime
                                                    }

                                                </td>
                                                <td>
                                                    <form method="post" asp-action="Delete" asp-route-id="@job.JobTitleId">

                                                        <a asp-action="Edit" asp-controller="JobTitle"
                                                   asp-route-id="@job.JobTitleId" class="btn btn-info text-white" style="cursor:pointer">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delet? : @job.JobTitleName')">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p><h4 style="text-align:center">No Data to Display</h4></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>

