@model PC.Services.DL.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Update User";
}

<div class="container-fluid">

    <div class="row">
        <ul>
            <form asp-action="EditUser" method="post">
            <li class="step show" id="step-1">
                <div class="bar">
                    <span class="number">1</span>
                    <h3>@Model.UserName Information</h3>
                    <div class="status"></div>
                </div>

                <div class="box">
                    <div class="field-holder">
                        <div class="row">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>

                            <div class=row>
                                <div class="form-group col-md-4">
                                    <label asp-for="UserName"></label>
                                    <input type="text" asp-for="UserName" class="form-control input-lg">
                                    <span asp-validation-for="UserName" class="text-danger"></span>

                                </div>

                                <div class="form-group col-md-4">


                                    <label asp-for="Email"></label>
                                    <input type="text" asp-for="Email" class="form-control input-lg">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="UserStatus"></label>
                                    <i class="red">*</i>
                                    <br />
                                    <select asp-for="UserStatus" class="form-control input-lg required" required="required">

                                        <option value="0"></option>
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>


                                    </select>
                                    <span asp-validation-for="UserStatus" class="text-danger"></span>


                                </div>

                            </div>

                            <div class=row>
                                <div class="form-group col-md-4">
                                    <label asp-for="FirstName"></label>
                                    <div class="input-group-prepend">
                                        <input type="text" asp-for="FirstName" class="form-control input-lg" />
                                    </div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="LastName"></label>
                                    <div class="input-group-prepend">
                                        <input type="text" asp-for="LastName" class="form-control input-lg" />
                                    </div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label asp-for="PhoneNumber"></label>
                                    <div class="input-group-prepend">
                                        <input type="text" asp-for="PhoneNumber" class="form-control input-lg" />
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=row>
                                <div class="form-group col-md-4">
                                    <label asp-for="Job"></label>
                                    <i class="red">*</i>
                                    <br />
                                    <select asp-for="Job" class="form-control input-lg required" asp-items="ViewBag.JobTitle" required="required">

                                        <option>Select Job Title</option>
                                    </select>
                                    <span asp-validation-for="Job" class="text-danger"></span>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group pull-right row" id="divSaveRecordButton">
                        <div class="form-group col-md-12" style="padding-right: 50px; padding-bottom: 20px">
                            <button class="btn btn-primary m-b-md" type="submit" title="Save" value="">
                                <span><i class="fa fa-floppy-o"></i>&nbsp;Save</span>
                            </button>
                        </div>
                    </div>

                    <div class="btn-group pull-left row" id="divBackRecordButton">
                        <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                            <a asp-action="ListUsers" class="btn btn-primary m-b-md" type="button" title="Back">
                                <span><i class="fa fa-arrow-left"></i>&nbsp;Back</span>
                            </a>

                        </div>
                    </div>
                </div>
            </li>
            </form>
            <br />


            @* ----------User Roles------------ *@

            <div id="PlaceHolderHere"></div>
            <li class="step show" id="step-2">
                <div class="bar">
                    <span class="number">2</span>
                    <h3>@Model.UserName Roles</h3>
                    <div class="status"></div>
                </div>

                <div class="box">
                    <div class="field-holder">
                        <div class="row">

                            <div class="panel-body">
                                @if (Model.Roles.Any())
                                {
                                    foreach (var role in Model.Roles)
                                    {
                                        <button class="btn btn-info">
                                            @role
                                        </button>
                                    }
                                }
                                else
                                {
                                    <h5 class="card-title">No Roles for @Model.UserName</h5>
                                }
                            </div>


                        </div>
                    </div>
                    <div class="btn-group pull-left row">
                        <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                            <form method="post" asp-action="ManageUserRoles" asp-controller="Admin">
                                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addRole"
                                        data-url="@Url.Action($"ManageUserRoles/{Model.Id}")">
                                    <span><i class="fa fa-floppy-o"></i>&nbsp;Manage @Model.UserName Roles</span>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </li>
            @* --------------------------------- *@

            <br />
            @* ----------User Permissions------------ *@
            <div hidden="hidden">
            <li class="step show" id="step-3" style="display: none;">
                <div class="bar">
                    <span class="number">3</span>
                    <h3>@Model.UserName Actions Permissions</h3>
                    <div class="status"></div>
                </div>

                <div class="box">
                    <div class="field-holder">
                        <div class="row">
                            <div class="panel-body">
                                    @if (Model.Claims.Any())
                                    {
                                        foreach (var claim in Model.Claims)
                                        {
                                        <p class="btn btn-info">
                                                @claim
                                        </p>
                                        }
                                    }
                                    else
                                    {
                                    <h5 class="card-title">No Permissions for @Model.UserName   </h5>
                                    }

                            </div>

                                @*<div class="form-group col-md-12">
                                    <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
                                    style="width:auto" class="btn btn-primary">
                                    Manage @Model.UserName Permissions
                                    </a>
                                    </div>*@
                        </div>
                    </div>
                    <div class="btn-group pull-left row" id="divBackRecordButton">
                        <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                            <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id" class="btn btn-primary m-b-md" type="button" title="">
                                <span><i class="fa fa-floppy-o"></i>&nbsp;Manage @Model.UserName Permissions</span>
                            </a>

                        </div>
                    </div>
                </div>
            </li>
    </div>
            @* --------------------------------- *@
    <br />
            @* ----------User Authority Matrix Permissions------------ *@
    <li class="step show" id="step-3">
        <div class="bar">
            <span class="number">3</span>
            <h3>@Model.UserName Authority Matrix Permissions</h3>
            <div class="status"></div>
        </div>

        <div class="box">
            <div class="field-holder">
                <div class="row">
                    <div class="panel-body">
                                @if (Model.UserAuthorityMatrix.Any())
                                {
                                    foreach (var authority in Model.UserAuthorityMatrix)
                                    {
                                <p class="btn btn-info">
                                            @authority.AuthorityMatrix.Name
                                </p>
                                    }
                                }
                                else
                                {
                            <h5 class="card-title">No Authority Matrix Added to @Model.UserName   </h5>
                                }

                    </div>

                            @*<div class="form-group col-md-12">
                                <a asp-action="ManageUserClaims" asp-route-userId="@Model.Id"
                                style="width:auto" class="btn btn-primary">
                                Manage @Model.UserName Permissions
                                </a>
                                </div>*@
                </div>
            </div>
            <div class="btn-group pull-left row" id="divBackRecordButton">
                <div class="form-group col-md-10" style="padding-left: 60px; padding-bottom: 20px">
                    <a asp-action="ManageUserAuthorityMatrix" asp-route-userId="@Model.Id" class="btn btn-primary m-b-md" type="button" title="">
                        <span><i class="fa fa-floppy-o"></i>&nbsp;Manage @Model.UserName Authority Matrix</span>
                    </a>

                </div>
            </div>
        </div>
    </li>
            @* --------------------------------- *@
    </ul>

</div>






</div>

<!-- ~/vendor scripts -->
<script src="~/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>

<!-- App scripts -->
<script src="~/scripts/main.js"></script>

<script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="~/vendor/sweetalert/lib/sweetalert2.min.js"></script>


<script>
    $(document).ready(function () {

        $('#UserStatus').select2({
            placeholder: "Select a value",
        });
    });
</script>