@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Roles List";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">

            <a asp-action="CreateRole" asp-controller="admin" class="btn bg-primary btn-lg btn-block runbtn" style="width: 200px" type="button">

                Add New Role
            </a>
        </div>

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            System Role List
                        </h2>

                    </div>

                    <div class="body">
                        <div id="PlaceHolderHereUser"></div>

                        <div class="table-responsive">
                            @if (Model.Any())
                            {
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Role Name
                                            </th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Role Name
                                            </th>
                                            <th></th>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var role in Model)
                                        {
                                            <tr>
                                                <td>@role.Id</td>
                                                <td>
                                                    @role.Name
                                                </td>
                                                <td>
                                                    <form method="post" asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id">

                                                        <a asp-action="EditRole" asp-controller="Admin"
                                                   asp-route-id="@role.Id" class="btn btn-info text-white" style="cursor:pointer">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delet? : @role.Name')">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>

                                                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUserr"
                                                        data-url="@Url.Action($"EditUsersInRole?roleId={@role.Id}")">
                                                            Add Users
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p><h4 style="text-align:center">No Data to Display</h4></p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery Core Js -->
<script src="~/styles/ww/plugins/jquery/jquery.min.js"></script>

<!-- Custom Js -->
<script src="~/styles/ww/js/pages/tables/jquery-datatable.js"></script>


