@model PC.Services.DL.ViewModels.UserAuthorityMatrixViewModel

@{
    ViewBag.Title = "System Action Permissions";
}

<form asp-action="ManageUserAuthorityMatrix" method="post">
    <section class="content">

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <li class="step show" id="step-1">
                            <div class="header">

                                <h3>@Model.Username Authority Matrix</h3>
                                <div class="status"></div>
                            </div>

                            <div class="body">

                                <input type="hidden" asp-for="@Model.UserId" />

                                <div>
                                    @*style="display:flex; overflow-y: scroll;"*@
                                    <div class="demo-checkbox">
                                        @for (int i = 0; i < Model.AuthorityMatrix.Count; i++)
                                        {
                                            <div class="form-check m-1">
                                                <input type="hidden" asp-for="@Model.AuthorityMatrix[i].AuthorityId" />
                                                <input type="hidden" asp-for="@Model.AuthorityMatrix[i].AuthorityName" />
                                                <input asp-for="@Model.AuthorityMatrix[i].IsSelected" class="form-check-input" />
                                                <label class="form-check-label" style="margin-right:20px !important" asp-for="@Model.AuthorityMatrix[i].IsSelected">
                                                    @Model.AuthorityMatrix[i].AuthorityName
                                                </label>
                                            </div>
                                        }
                                    </div>


                                </div>

                                <hr />
                                <div class="row clearfix">
                                    <div class="button-demo">
                                        <button class="btn bg-primary waves-effect" type="submit" title="Save" value="" onclick="btnRecordSaveClick();">
                                            Save
                                        </button>

                                        <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn bg-warning waves-effect" type="button" title="Back">
                                            Back
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <br />
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>






